:root {
    --text-color: rgb(255, 255, 255);
    --secondary-text-color: rgba(61, 216, 0, 0.726);
    --border-color: rgba(61, 216, 0, 0.274);
}

* {
    box-sizing: border-box;
    background-color: black;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
    margin: 0%;
}

/* Header Begins */
header {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    color: var(--text-color); 
}

header h1 {
    flex: 33%;
    padding: 0 1%;
}

header nav {
    flex: 33%;
    padding: 0 1%;
    margin: auto;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

header nav ul li a {
    padding: 0 15px;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 20px;
}

.active-nav {
    color: var(--text-color);
}

.inactive-nav {
    color: var(--secondary-text-color);
}

.space {
    display: block;
    padding-bottom: 1%;
    border-bottom: 3px solid var(--border-color);
}

.space-pic {
    width: 100%;
}
/* Header Ends */

/* Page Title Style */
.section-title {
    margin: auto .5%;
    padding-right: 1%;
    border-right: 2px solid var(--border-color);
    font-size: 200%;
}

/* About me Begins */
.about-me {
    display: flex;
    margin: 1%;
    padding-top: 0%;
}

.about-scaling {
    display: flex;
}

.about-me p {
    display: flex;
    align-items: center;
    flex: 33%;
    border-right: 2px solid var(--border-color);
    margin: 0% 1% 1% 1%;
    padding: 0% 1%;
    width: 40%;
    font-size: 110%;

}

.about-me img {
    display: flex;
    justify-content: center;
    flex: 33%;
    align-items: center;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
/* About me Ends */

/* Portfolio Begins */
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    border-width: 50%;
    padding: 0% 1% 1% 1%;
}

.project-cards {
    display: flex;
    flex-grow: 1;
    padding-top: 1%;
    flex-direction: column;
    margin-left: 2%;
}

.card {
    display: flex;
    flex-direction: row;
    margin: .5% 0%;
}

.card-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin: .5% 0%;
}

.card-scaling {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.card-scaling-rg {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.project-title {
    display: flex;
    align-items: center;
    flex: 33%;
    border-left: 2px solid var(--border-color);
    margin: auto;
    font-size: 170%;
    text-align: right;
}

.project-title-rg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 33%;
    border-right: 2px solid var(--border-color);
    margin: auto;
    font-size: 170%;
}

.project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 33%;
    margin: auto 3%;
    font-size: 110%;
    border-left: 2px solid var(--border-color);
    padding-left: 1%;
    text-align: right;
}

.project-info-rg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 33%;
    margin: auto 5%;
    font-size: 110%;
    border-right: 2px solid var(--border-color);
    padding-right: 1%;
    text-align: left;
}

.project-img {
    height: 300px;
    width: 500px;
    flex: 33%;
    border-radius: 15px;
    filter: blur(3px);
}

.project-img:hover {
    filter: blur(0px);
}
/* Portfolio Ends */

/* Resume Begins */
.profs-list {
    display: flex;
    justify-content: space-evenly;
    margin: 1% 2%;
}

.download {
    display: flex;
    justify-content: center;
}

.profs-title {
    color: var(--secondary-text-color);
    font-size: x-large;
}

.list {
    font-size: larger;
    list-style-type: square;
}

.resume {
    text-decoration: none;
    color: var(--secondary-text-color);
}
/* Resume Ends */

/* Contact Form */
.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0%;
}

.section-title-contact {
    padding-right: 1%;
    font-size: 200%;
}

.contactForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    color: var(--text-color);
    font-size: 115%;
}

.contactInput {
    color: var(--text-color);
    outline-color: var(--border-color);
    margin-bottom: 3%;
    padding: 2%;
    font-size: 100%;
}

.error {
    color: var(--text-color);
    font-size: 110%;
}

.btn {
    background-color: var(--text-color);
    color: black;
    font-size: 100%;
    font-weight: bold;
    width: 100px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
}
/* Contact Ends */

/* Footer Begins */
.icon-links {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--border-color);
    margin: 0% 2% 0% 2%;
    padding-top: 1%;
}

.links {
    margin: 10px;
    
}

.footer {
    border-top: 3px solid var(--border-color);
    display: flex;
    justify-content: center;
    margin: 1% 30% 0% 30%;
}

.h3-start {
    color: var(--secondary-text-color);
}
/* Footer Ends */

/* media queries for smaller size screens/devices */
@media screen and (max-width: 1200px) {

    .card, .card-reverse {
        display: block;
        margin: 1%;
    }
    
    .card-scaling {
        display: flex;
        flex-direction: row-reverse;
    }

    .card-scaling-rg {
        display: flex;
        flex-direction: row;
    }

    .project-title, .project-title-rg {
        border-bottom: 2px solid var(--border-color);
        border-left: 0px;
        border-right: 0px;
        margin: 0% 20% 1% 20%;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {

    .about-me {
        display: block;
        padding: 0% 1% 1% 1%;
    }

    .about-scaling {
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 0px;
        padding-top: 1%;
        padding-bottom: 0%;
    }

    .about-me p {
        width: 100%;
        border-right: 0px;
        text-align: center;
    }

    .section-title {
        margin: 1% .5% 0% .5%;
        padding-right: 1%;
        border-right: 0px solid var(--border-color);
        font-size: 200%;
    }

    .projects {
        display: block;
    }

    .project-cards {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin-left: 0%;
        border-top: 3px solid var(--border-color);
    }
}

@media screen and (max-width: 768px) {

    header nav {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        margin: 0%;
    }
    
    header nav ul {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        margin: 2% 0;
    }

    header nav ul li a {
        justify-content: flex-end;
        padding: 0px;
    }

    .card-reverse {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-scaling, .card-scaling-rg {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-info, .project-info-rg {
        margin-bottom: 1%;
        border-left: 0px;
        border-right: 0px;
        text-align: center;
    }

    .contact-form {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    header {
        display: block;
        text-align: center;
    }

    header nav {
        justify-content: center;
    }

    header nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .contact-me {
        display: block;
    }

    .contact-form {
        width: 90%;
    }
}